* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
/* header */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100vh;
    background-image: url('./assets/images/background-theme.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

.dark-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo-wrapper {
    z-index: 999;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.logo-wrapper h1 {
    font-style: italic;
    font-size: medium;
    font-weight: normal;
}
header img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    letter-spacing: 2px;
    z-index: 999;
    margin-top: 20px;
}

header nav {
    margin-top: 30%;
    z-index: 999;
}
header nav ul li{
    margin-top: 30px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover {
    font-weight: bold;
}
/* header end */

/* .main-content-wrapper */
.main-content-wrapper {
    width: 70%;
    padding-left: 5%;
}

.main-content-wrapper section {
    margin-bottom: 30px;
}

.main-content-wrapper section:first-child {
    margin-top: 30px;
}

.main-content-wrapper section h2{
    border-bottom: 1px solid #EEE;
    display: inline-block;
    padding-bottom: 8px;
}

#about-me p{
    padding-top: 10px;
    width: 90%;
}


.work-cont {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.web-app {
    flex: 1 30%;
    height: 350px;
    margin: 3%;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px #EEE;
}

.web-app:first-child {
    flex: 12 100%;
}

.app-info {
    top: 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.app-info p {
    text-align: center;
}

.web-app img{
    width: 150%;
    transition: 0.3s;
}

.web-app:hover img{
    width: 100%;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-info div {
    margin-right: 5%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#email a {
    text-decoration: none;
    color: #000;
}

.contact-info div img{
    margin-right: 10px;
}
/* .main-content-wrapper end */

/* footer */
footer {
    color: #fff;
    padding: 30px;
    font-size: 1.1vw;
    position: fixed;
    bottom: 8%;
    left: 0px;
    display: flex;
    justify-content: center;
}
footer p {
    z-index: 999;
}
/* footer end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1177px) {
    .work-cont{
        width: 100%;
    }
    .web-app {
        flex: 1 100%;
        height: 250px;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    #root {
        display: grid;
    }

    header {
        position: relative;
        width: 100%;
        height: unset;
        justify-content: space-between;
    }

    header::before, footer::before{
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .primary-dl {
        display: none;
    }

    header nav ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    header nav ul li a {
        font: bold;
    }

    .main-content-wrapper {
        width: 90%;
        margin: 30px auto;
    }

    footer {
        position: relative;
        font-size: unset;
        width: 100%;
        text-align: center;
        background-image: url('./assets/images/background-theme.jpg');
        background-position: right;
        background-color: rgba(0, 0, 0, 0.3);
    }
}